<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html,
        body {
            width: 100%;
            height: 100%;

            margin: 0;
            padding: 0;

            user-select: none;

            background-color: gray;
        }
    </style>
</head>

<body>

    <gr-carousel>
        <gr-carousel-item>1</gr-carousel-item>
        <gr-carousel-item>
            <img src="/assets/imgs/home-bg.png" alt="">
        </gr-carousel-item>
        <gr-carousel-item>3</gr-carousel-item>
    </gr-carousel>

    <script type="module">
        import "./index.js"
    </script>
</body>

</html>