<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html,
        body {
            width: 100%;
            height: 100%;

            margin: 0;
            padding: 0;

        }

        .main-wrap {
            width: 100%;
            height: 100%;

            display: flex;
        }
    </style>
</head>

<body>
    <script type="module" src="./index.js"></script>
    <div class="main-wrap">
        <gr-hover-card title="官方周边" desc="products" color="blue"
            style="background-image: url(../../assets/imgs/other/官方周边.png);">
        </gr-hover-card>
        <gr-hover-card title="官方漫画" desc="cartoon" color="red"
            style="background-image: url(../../assets/imgs/other/官方漫画.png);"></gr-hover-card>
        <gr-hover-card title="WIKI攻略" desc="introduction" color="aqua"
            style="background-image: url(../../assets/imgs/other/WIKI攻略.png);"></gr-hover-card>
    </div>
</body>

</html>