<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html,
        body {
            margin: 0;
            padding: 0;

            width: 100%;
            height: 100%;

            background-color: gray;
        }
    </style>
</head>

<body>
    <gr-tabs id="grTab">
        <gr-tab title="标签一">
            <gr-list>
                <div slot="prefix">【最新】</div>
                <div>《战双帕弥什》锈夜逐光版本一览</div>
                <div slot="suffix">【2024-11-07】</div>
            </gr-list>
        </gr-tab>
        <gr-tab title="标签二">
            <gr-list>
                <div slot="prefix">【攻略】</div>
                <div>content</div>
                <div slot="suffix">【2023-11-07】</div>
            </gr-list>
        </gr-tab>
        <div slot="footer">
            <button>hhhh</button>
        </div>
    </gr-tabs>

    <script type="module">
        import "./index.js"

        const mockList = [
            {
                prefix: "【最新】",
                content: "《战双帕弥什》锈夜逐光版本一览",
                surfix: "【2024-11-07】",
                href: ""
            },
            {
                prefix: "【最新】",
                content: "《战双帕弥什》新版本「锈夜逐光」PV公开 | 时轮重构，孤影洄光",
                surfix: "【2024-11-06】",
                href: ""
            },
            {
                prefix: "【最新】",
                content: "《锈夜逐光》版本更新公告",
                surfix: "【2024-11-05】",
                href: ""
            },
        ];

        const grTab = document.querySelector("#grTab");
        const fetchData = () => new Promise(resolve => {
            setTimeout(() => {
                resolve({ data: mockList })
            }, 200);
        })
        grTab.addEventListener("gr-tabs-load", async () => {
            const tab1 = grTab.shadowRoot.querySelector("[data-tab-title='标签一']");
            fetchData().then(res => {
                const template = window.$renderGrList(tab1, res.data);

            })
        });
    </script>
</body>

</html>